* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:  sans-serif;
}
 
/* sheader */
header {
    background-color: white;
    border-bottom: 1px solid lightgray;
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
}

.header-top {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.top-left,
.top-right {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logo-text {
    font-size: 20px;
    color: #5f6368;
    margin-left: 5px;
}

.top-left img {
    width: 70px;
}

.top-right {
    color: #5f6368;
}

.top-right i {
    font-size: 20px;
    padding-right: 20px;
}

.top-right img {
    border-radius: 50%;
    height: 30px;
}

.nav-menu {
    margin-left: 20px;
    margin-bottom: 20px;
}

header ul {
    list-style: none;
}

header ul li {
    display: inline-block;
}

header ul li a {
    text-decoration: none;
    color: #5f6368;
    margin-right: 30px;
    font-weight: bold;
}

header ul li a.active {
    padding-bottom: 18px;
    color: #3367d6;
    border-bottom: 4px solid #3367d6;
}
 
/* main */
main {
    margin-top: 200px;
    font-size: 14px;
    line-height: 20px;
}

.container {
    width: 70%;
    margin: 0 auto;
}

h2 {
    color: #3c4043;
    margin-bottom: 30px;
}

h3 {
    color: #3c4043;
    margin-top: 30px;
}

main .blue {
    color: #3367d6;
    cursor: pointer;
}

.container p {
    margin-bottom: 50px;
}

ol {
    padding-left: 20px;
}

li>ol {
    list-style-type: lower-alpha;
    padding-left: 30px;
}